<main class="home">
  <intro></intro>
  <div class="down-arrow">
    <a id="arrow-a" href="#info" target="_self">
      <div class="down-arrow-border">
        <p id="down-arrow-arrow">^</p>
      </div>
    </a>
  </div>
  <info id="info"></info>
  <div class="heading-container heading-acc-image">
    <h2 class="heading-name  heading-acc">Accommodations</h2>
  </div>
  <acc></acc>
  <!-- <funday></funday> -->
  <div class="heading-container heading-lodging-image">
    <h2 class="heading-name  heading-lodging">Lodging</h2>
  </div>
  <lodging-page></lodging-page>
  <div class="heading-container heading-fl-image">
    <h2 class="heading-name heading-fl">Food and Libations!</h2>
  </div>
  <food></food>
  <div class="heading-container heading-journey-image">
    <h2 class="heading-name heading-journey">The Journey</h2>
  </div>
  <journey></journey>
  <schedule></schedule>
  <div class="up-arrow">
    <a id="arrow-a" href="#info" target="_self">
      <div class="up-arrow-border">
        <p id="up-arrow-arrow">^</p>
      </div>
    </a>
  </div>
  <contact></contact>
</main>
