.home {
  margin: 0;
  padding: 0;
}



.heading-container {
  height: 400px;
  width: 100vw;
  background-color: yellow;
}

.heading-name {
  position: absolute;
  font-size: 9em;
  margin-top: 280px;
}
