<main class="home">
  <intro></intro>
  <div class="up-arrow">
    <a id="arrow-a" href="#info" target="_self">
      <div class="up-arrow-border">
        <p id="up-arrow-arrow">^</p>
      </div>
    </a>
  </div>
  <info id="info"></info>
  <div class="heading-container">
    <h2 class="heading-name  heading-lodging">Lodging</h2>
  </div>
  <lodging-page></lodging-page>
  <div class="heading-container">
    <h2 class="heading-name heading-fl">Food and Libations!</h2>
  </div>
  <food></food>
  <!-- <acc></acc> -->
  <journey></journey>
  <map></map>
  <funday></funday>
  <schedule></schedule>
  <div class="heading-container">
    <h2 class="heading-name heading-contact">Contact or Questions</h2>
  </div>
  <contact></contact>
</main>
