.home {
  margin: 0;
  padding: 0;
}
#arrow-a {
  &:hover {
    text-decoration: none;
  }
}
.down-arrow {
  position: absolute;
  width: 100%;
  margin-top: -10vh;
}
.down-arrow-border {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 3px white solid;

  &:hover {
    cursor: pointer;
    border-color: grey;
    color: grey;
  }
}

#down-arrow-arrow {
  font-size: 5em;
  color: white;
  font-family: 'Raleway', sans-serif;
  transform: translate(-8px, -33px) rotate(180deg);

  &:hover {
    color: grey;
  }
}

.up-arrow {
  position: absolute;
  width: 100%;
  margin-top: 45vh;
}
.up-arrow-border {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 3px white solid;

  &:hover {
    cursor: pointer;
    border-color: grey;
    color: grey;
  }
}

#up-arrow-arrow {
  font-size: 5em;
  color: white;
  font-family: 'Raleway', sans-serif;
  transform: translate(8px, -16px);

  &:hover {
    color: grey;
  }
}



.heading-container {
  height: 400px;
  width: 100vw;
}

.heading-name {
  position: absolute;
  font-size: 9em;
  margin-top: 280px;
  color: white;
}
.heading-acc {
  font-size: 6em;
  margin-top: 320px;
}

.heading-lodging-image {
  background-image: url('../../assets/images/lodging-header.jpg');
  background-size: 98%;
  background-repeat: no-repeat;
}

.heading-fl-image {
  background-image: url('../../assets/images/meadow.jpg');
  background-size: cover;
  // background-position: 0px -179px;
  background-repeat: no-repeat;
}
.heading-fl {
  margin-top: 141px;
}
.heading-journey-image {
  background-image: url('../../assets/images/journey-header.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -80px;
}
.heading-contact-image {
  background-color: white;
}
.heading-acc-image {
  background-image: url('../../assets/images/skal-1.jpg');
  background-size: 126%;
  background-position-x: 82%;
}
