.contact {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 520px;
  color: black;
  background-image: url('../../assets/images/pattern-3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.heading-contact {
  text-align: center;
  font-size: 8em;
}

.contact-contaner {
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

#contact-gobble {
  text-align: center;
  font-size: 4em;
}


#contact-link {
  text-align: center;
  font-size: 2em;

  &:hover {
    color: white;
    cursor: pointer;
  }
}
