.contact {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 520px;
  color: black;
  background-image: url('../../assets/images/pattern-3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  @media only screen and (max-width : 550px) {
    height: 490px;
  };
  @media only screen and (min-width : 551px) {
    height: 565px;
  };
}
.heading-contact {
  text-align: center;
  font-size: 8em;
  @media only screen and (max-width : 550px) {
    font-size: 5em;
  };
}

.contact-contaner {
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

#contact-gobble {
  text-align: center;
  font-size: 4em;
  @media only screen and (max-width : 550px) {
    font-size: 2em;
  };
}


#contact-link {
  text-align: center;
  font-size: 2em;
  @media only screen and (max-width : 550px) {
    font-size: 1.3em;
  };

  &:hover {
    color: white;
    cursor: pointer;
  }
}
