.map {
  outline: 1px darkgreen solid;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 500px;
  color: black;
  background-color: white;
  font-size: 10em;
}


#map {
  height: 400px;
  width: 400px;
  background-color: grey;
}
