.lodging-page {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 1600px;
  color: black;
  background-color: white;

  @media only screen and (min-width : 740px) {
    height: 810px;
  };
  @media only screen and (min-width : 1480px) {
    height: 410px;
  };

  // @media only screen and (min-width : 1480px) {
  //   height: 500px;
  // }
}
