<div class="acc">
  <!-- <div class="acc-heading-container">
    <h2 id="acc-heading">Accommodations</h2>
  </div> -->
  <div class="acc-container">
    <div class="acc-desc-container">
    <p id="acc-desc">Skalitude Retreat is a 160 acres nestled in the foothills of the North Cascade Mountains. It ‘is set up as a model of sustainable living, the name ‘Skalitude’ comes from a Salish word that means ‘to be in harmony with Nature’ <br> We ask that while you are here, you respect the grounds and the nature in and around them.<br> While you won’t have to me hauling your own garbage home, we recommend that you keep a mindset geared toward leaving no trace; Pack it in/Pack it out.<br> If you would like to know more, please visit their website below.<br> <a target="_blank" href="https://www.skalitude.com/">www.skalitude.com</a>
     <br> ‘When humans and nature are in harmony, magic and beauty are everywhere.’</p>
   </div>
  </div>
</div>
