.info {
  outline: 1px red solid;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 500px;
  color: black;
  background-color: white;
  font-size: 10em;
}

#save-the-date-image {
    margin: 0 auto;
    padding: 0 auto;
    display: block;
    width: 800px;
}
