<div class="info">
  <div class="info-welcome-container">

    <h2 class="info-welcome-desc info-welcome-heading">Welcome to the Official Turkey’s Guide To Getting There!</h2>

    <div class="info-welcome">
        <h2 class="info-welcome-desc">If you’ve made it this far it means,
        </h2>
        <br>
    <br>
      <h2 class="info-welcome-desc text-left">
        1) we love you <br> <br>and
      </h2>

    <br>
    <h2 class="info-welcome-desc text-left">
      2) you’re interested in embarking on a journey north.
    </h2>
    <br>
    <h2 class="info-welcome-desc">
    We have put together this website as a reference for navigating the particulars. Hopefully most, if not all, of your questions will be answered here. <br><br>We are excited to celebrate our union with you by hosting this magical weekend in the woods. <br>
    Please feel free to
    <a href="#info-contact-anchor">contact</a>
      us at any point.
     <br><br> Love, <br><br> Allyson and Taylor</h2>
  </div>
</div>
  <div id="info-contact-anchor"></div>
</div>
