.food {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 1100px;
  color: black;
  background-color: white;
  @media only screen and (min-width : 615px) {
    height: 800px;
  };
  @media only screen and (min-width : 915px) {
    height: 600px;
  };
}
.food-container {
  position: absolute;
  width: 100%;
  height: 50%;
  margin-top: -70px
}
.food-flex-container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}
.food-els-container{
  width: 100%;
  position: absolute;
  margin-top: 353px;
}
.water-rc-container {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 300px;
  height: 215px;
}

#food-heading {
  width: 100%;
  text-align: center;
  font-size: 4em;
  // font-family: 'Amatic SC', cursive;
}
#food-desc {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 72%;
  text-align: center;
  font-size: 1.1em;
  margin-top: 35px;

  @media only screen and (max-width : 550px) {
    margin-top: 145px;
  };
  @media only screen and (min-width : 551px) {
    font-size: 1.4em;
    margin-top: 75px;
  };
  @media only screen and (min-width : 833px) {
    margin-top: 150px;
  };
}
.food-rc {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  width: 50%;
  text-decoration: underline;
  font-size: 2.2em;
  // font-family: 'Amatic SC', cursive;
}

#food-rc-desc {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 60%;
  margin-left: 69px;
  text-align: center;
}

#coffee-rc-desc {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 45%;
  text-align: center;
}
#food-water {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  width: 50%;
  text-decoration: underline;
  font-size: 2.2em;
  // font-family: 'Amatic SC', cursive;
}

#food-water-desc {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 45%;
  text-align: center;
}
