<div class="food">
  <div class="food-container food-flex-container">
      <p id="food-desc">Yum! We will be providing food and drinks for the weekend along with catering the night of the ceremony. Breakfast and dinners will be family affairs while lunches and snacks are at your leisure. We will do our best to accommodate all food squirrels (aka dietary needs) but if there are certain things you can’t live without, we empower you to grab it yourself. Be mindful there is limited refrigeration space but we will have an ample number of coolers.</p>
    </div>
  <div class="food-els-container">
    <div class="water-rc-container">
      <h3 class="food-rc" >Recycling/Compost</h3>
      <p id="food-rc-desc">In keeping with Skalitude’s conservation efforts to sustainability please think of what you are bringing with a Pack It In/Pack It Out mindset. Cans are better than bottles.</p>
    </div>
    <div class="water-rc-container">
      <h3 class="food-rc">Cofffee</h3>
      <p id="coffee-rc-desc">Caffeine Saves! We will have cold brew stocked and a plethora of beans for brewing. We guarantee a barista will not be hard to find.</p>
    </div>
    <div class="water-rc-container">
    <h3 id="food-water">Water</h3>
    <p id="food-water-desc">There is wonderful well water on the property. We recommend bringing a reusable water bottle for the weekend.</p>
    </div>
  </div>
</div>
