.journey {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 4550px;
  color: black;
  background-image: url('../../assets/images/journey-bg.jpg');
  background-repeat: repeat-y;
  background-size: contain;

}

.journey-container {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 70vw;
  height: 100%;
  background-color: white;
  box-shadow: 0px 14px 66px 12px rgba(0,0,0,0.75);
}

.journey-fluff-container{
  position: absolute;
  width: 70vw;
  margin-top: 35px;
}

.journey-fluff {
  width: 100%;
  text-align: center;
  font-size: 4em;
}

#journey-fluff-desc {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 70%;
  text-align: center;
  margin-top: 35px;
  font-size: 1.3em;
}



.journey-stops-container {
  position: absolute;
  width: 70vw;
  height: 700px;
  margin-top: 880px;
}

.journey-stops-heading {
  width: 70vw;
  height: 200px;
  text-align: center;
  font-size: 6em;
}

.journey-stops-direc {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 70%;
  text-align: center;
  margin-top: -87px;
  font-size: 1.3em;
}
.journey-stops-image-container {
  position: absolute;
  width: 100vw;
  margin-top: 2vw;
  margin-left: -16vw;
}
.image-els {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 500px;
  box-shadow: 0px 14px 66px 12px rgba(0,0,0,0.75);
}
.journey-stops-location {
  width: 50%;
  float: left;
  outline: 2px white solid;
}

.journey-stops-location-annies {
  width: 100%;
  outline: 2px white solid;
}

.journey-stops-address {
  margin-top: 386px;
  font-size: 1.5em;
  text-align: center;
}

.journey-stops-address-names {
}
.journey-stops-desc {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 70%;
  text-align: center;
  margin-top: 35px;
  font-size: 1.3em;
}

.cash-wen {
  margin-top: 1800px;
}

.ew {
  margin-top: 2990px;
}

.cash-wen-direc {
  margin-top: 35px;
  font-size: 1.2em;
}

.cash-wen-add {
  margin-top: 310px;
}

.map-contatiner {
  position: absolute;
  width: 70vw;
  height: 400px;
  margin-top: 3895px;
  margin-left: -15vw;
}
.map-image-container {
  position: absolute;
  width: 100vw;
  height: 400px;
}
#map-img {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  width: 400px;
  margin-top: -400px;
  box-shadow: 0px 0px 40px -6px rgba(0,0,0,0.75);
}
.map-desc-container {
  width: 100%;
  margin-top: 10px;
}
#map-desc {
  text-align: center;
  font-size: 4em;
}

.map-overlay {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
  height: 400px;
  width: 400px;
  background-color: black;
  opacity: .0;

  &:hover {
    opacity: .5
  }
}
.map-add {
  text-align: center;
  font-size: 1.3em;
}
