<div class="lodging-modal">
  <p id="close-modal" ng-click="lodgeMCtrl.closeModal()">X</p>
  <div class="lodging-modal-contents-container">
    <div class="lodging-initiate">
      {{lodgeMCtrl.lodgingSelection()}}
    </div>
    <!-- <div class="lodging-hotel-overlay"></div> -->

    <div class="lodging-tent-container" ng-show="lodgeMCtrl.tent">
      <img id="tent-camping-image" src="../../assets/images/camping.jpg" alt="Tent Camping">
      <h2 id="tent-camping-heading">Tent Camping</h2>
      <p id="tent-camping-desc">Tent campers can camp anywhere within 160 acres of Skalitude but we recommend the Okanogan Forest, which butts up to the property. It has sites that are already tamped down, shaded, and close to the outhouses. If you need to rent any gear we recommend REI Rentals.</p>
    </div>
    <div class="lodging-single-container" ng-show="lodgeMCtrl.single">
      <div class="lodging-single-image-container">
        <div class="lodging-single-images">
          <img id="single-1" class="single-image" src="../../assets/images/meadow.jpg" alt="Private Room">
        </div>
        <div class="lodging-single-images">
          <img id="single-2" class="single-image" src="../../assets/images/private-2.jpg" alt="Private Room">
        </div>
          <h2 id="single-heading">Single Camping</h2>
            <p id="single-desc-1">There are two private rooms with queen beds in the main cabin.</p>
          <p id="single-desc-2">Since these are limited, priority goes to those with the greatest need.</p>
      </div>
    </div>
    <div class="lodging-share-container" ng-show="lodgeMCtrl.share">
      <h2 id="shared-heading">Social SLeeping</h2>
      <div class="lodging-share-image-container">
        <div class="lodging-share-images">
          <p id="main-2-desc">Main Cabin – includes a kitchen, plumbed bathroom, and living/dinning room area,</p>
          <img id="main-2" src="../../assets/images/main-cabin-2.jpg" alt="Share Cabin">
        </div>
        <div class="lodging-share-images">
          <p id="main-1-desc">As is the nature of cabins, there are multiple beds per room.</p>
          <img id="main-1" src="../../assets/images/main-cabin-1.jpg" alt="Share Cabin">
        </div>
        <div class="lodging-share-images">
          <p id="main-3-desc">Bermhouse – includes half shared baths, twin beds and dressers.</p>
          <img id="main-3" src="../../assets/images/main-cabin-3.jpg" alt="Share Cabin"></div>
      </div>
    </div>


    <div class="lodging-hotel-container" ng-show="lodgeMCtrl.hotel">
      <div class="lodging-hotel-els airbnb">
        <a target="_blank" href="https://www.airbnb.com/s/Twisp--WA--United-States?page=1&amp;allow_override%5B%5D=&amp;place_id=ChIJ4d3B1PujnFQRRzSMxpEKmiE&amp;s_tag=p3JeOjhq">
          <img id="airBnB-icon" src="../../assets/icons/airbnb.png" alt="AirBnB">
        </a>
        <p id="air-desc">Start exploring. Book unique homes and experience a city like a local.</p>
      </div>
      <div class="lodging-hotel-els twisp-hotel">
          <a href="http://www.twispriversuites.com/" target="_blank">
            <img id="twisp-icon" src="../../assets/icons/twisp-hotel.png" alt="Twisp Hotel">
          </a>
          <p id="twisp-desc">In the heart of Twisp, on the banks of the Twisp River, just a stroll away from art galleries, quaint shops, terrific restaurants, and world class recreation!</p>
      </div>
      <h2 id="hotel-heading">Hotel</h2>
    </div>
  </div>

</div>
