<div class="lodging-form">
  <div class="lodging-flex-container">

    <div class="lodging-container">
      <div class="lodging-image-container" ng-click="lodgeFormCtrl.showModalImage({lodging: 'tent'})">
        <div class="lodging-overlay"></div>
        <img id="icon-tent" src="../../assets/icons/tent.png" alt="tent-icon">
        <img class="lodging-images" src="../../assets/images/tent-camping.jpg" alt="tent-camping">
      </div>
      <h2 class="lodging-desc">Tent Camping</h2>
    </div>

    <div class="lodging-container">
      <div class="lodging-image-container" ng-click="lodgeFormCtrl.showModalImage({lodging: 'single'})">
        <div class="lodging-overlay"></div>
        <img id="icon-single-bed" src="../../assets/icons/single-bed.png" alt="single bed">
        <img class="lodging-images" src="../../assets/images/single-cabin-camping.jpg" alt="single cabin">
      </div>
      <h2 class="lodging-desc">Private Room</h2>
    </div>

    <div class="lodging-container">
      <div class="lodging-image-container" ng-click="lodgeFormCtrl.showModalImage({lodging: 'share'})">
        <div class="lodging-overlay"></div>
        <img id="icon-share-bed" src="../../assets/icons/share-bed.png" alt="share bed">
        <img class="lodging-images" src="../../assets/images/share-cabin-camping.jpg" alt="share cabin">
      </div>
      <h2 class="lodging-desc">Social Sleeping</h2>
    </div>

    <div class="lodging-container">
      <div class="lodging-image-container" ng-click="lodgeFormCtrl.showModalImage({lodging: 'hotel'})">
        <div class="lodging-overlay"></div>
        <img id="icon-hotel" src="../../assets/icons/hotel.png" alt="share bed">
        <img class="lodging-images" src="../../assets/images/hotel-camping.jpg" alt="hotel">
      </div>
      <h2 class="lodging-desc">I Couldn't Possibly</h2>
    </div>

  </div>

</div>
