<div class="lodging-form">
  <h2>this is lodging</h2>
  <div class="lodging-flex-container">

    <div class="lodging-image-container" ng-click="lodgeFormCtrl.showModalImage({lodging: 'tents'})">

      <div class="lodging-overlay"></div>
      <img id="icon-tent" src="../../assets/icons/tent.png" alt="tent-icon">
      <img class="lodging-images" src="../../assets/images/tent-camping.jpg" alt="tent-camping">
    </div>

    <div class="lodging-image-container" ng-click="homeCtrl.lodgingSelect('single')">
      <div class="lodging-overlay"></div>
      <img id="icon-single-bed" src="../../assets/icons/single-bed.png" alt="single bed">
      <img class="lodging-images" src="../../assets/images/single-cabin-camping.jpg" alt="single cabin">
    </div>
    <div class="lodging-image-container" ng-click="homeCtrl.lodgingSelect('share')">
      <div class="lodging-overlay"></div>
      <img id="icon-share-bed" src="../../assets/icons/share-bed.png" alt="share bed">
      <img class="lodging-images" src="../../assets/images/share-cabin-camping.jpg" alt="share cabin">
    </div>
    <div class="lodging-image-container" ng-click="homeCtrl.lodgingSelect('hotel')">
      <div class="lodging-overlay"></div>
      <img id="icon-hotel" src="../../assets/icons/hotel.png" alt="share bed">
      <img class="lodging-images" src="../../assets/images/hotel-camping.jpg" alt="hotel">
    </div>
  </div>

</div>
